
.main-content {
    padding-top: 30px;
    background: #F5F5FA;
    height: 100%;
    padding-bottom: 15px;

}

.main-content .title {
    font-size: 24px;
    text-align: center;
    font-weight: 550;
    margin-top: 40px;
}

.main-content .description {
    text-align: center;
    font-size: 18px;
    margin-top: 2px;
    max-width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

